<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-new-quote></app-new-quote>
<app-quote></app-quote>
<app-quotes></app-quotes> -->


<div id="app">
	<div class="container">
	
		<div class="row">
		
		
			<div class="col-xs-12">
				<p>{{ 'Title' | translate }}</p>
				<!--  <a class="btn btn-primary" href="#" [routerLink]="['/']">Quotes</a>
								<a class="btn btn-primary" href="#" [routerLink]="['/new-quote']">Add a new Quote</a> 
								<a class="btn btn-primary" href="#" [routerLink]="['/postal-code']">Postal code</a>  -->
				<a class="btn btn-primary" href="#" [routerLink]="['/short-news']">News</a> 
				<a (click)="changeLanguage('en')">{{ 'Languages.English' | translate }}</a>
                <a (click)="changeLanguage('fr')">{{ 'Languages.French' | translate }}</a>
                                    
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
